@import "general.css";

#me_apunto {
	float: right;
	font-weight: bold;
	padding: 4px;
	border-radius: 5px;
	background-color: #418eb6;
	color: WHITE;
}
span#me_apunto {
	margin-bottom: 200px;
}
div.lista_usuarios {
	margin: 0px 0 10px 0;
	border-radius: 7px 7px;
	float: left;
	width: 150px;
	background-color: #B9CAFF;
	min-height: 450px;
}
img#add {
	height: 32px;
	width: 32px;
	vertical-align: middle;
	padding-right: 5px;
}
div#informacion {
	min-height: 300px;
	width: 900px;
}
div#comentarios {
	min-height: 140px;
	padding: 10px 5px 0 5px;
	margin: 0 0 0 160px;
	background-color: #418eb6;
	border-radius: 10px;
}
strong {
	font-size: 110%;
	margin: 1%;
}
strong.num_usuarios {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 105%;
}
