@import "general.css";

form#miPerfilForm {
	display: inline-block;
	position: relative;
	right: 10px;
}

div.divf{
	display: table-row;
}

label.etiqueta, div.cell {
	display: table-cell;
}

label.etiqueta{
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

input.info_input {
	width: 220px;
}

select.fecha {
	display: inline-block;
	margin: 0 7px 0 0;
}

select#ano {
	margin: 0;
}

select#sexo {
	width: 97%;
}

select#provincia {
	width: 97%;
}

input.visibilitybox {
}

input#registrate {
	background-color: #418eb6;
	color: WHITE;
	font-weight: bold;
	margin: 10px 0 20px 0;
	min-width: 200px;
}

input#registrate:hover {
	text-shadow: 0 0 3px SKYBLUE;
	box-shadow: 0 0 10px #418eb6;
	cursor: pointer;
}

span#titulo {
	position: relative;
	left: 72px;
}

#OK, #errores {
	display: block;
	color: WHITE;
	font-weight: bold;
	font-variant: small-caps;
	background-color: GREEN;
	border-radius: 3px;
	padding: 1px 3px;
}

#errores{
	background-color: #B22222;
}
