@import "general.css";

a#enlaceLogo {
	box-shadow: 0px 0px 10px WHITE;
	border-radius: 20px;
}

span#nosotros{
	color: red;
	margin:  auto;
	font-size: 18px;
}

video#video{
	margin: auto;
}

div.lista, div#videoImg img, div#videoImg video {
	display: inline-block;
	text-align: left;
	border-radius: 20px 20px;
	border: 2px dotted #418eb6;
	margin: 7px;
	padding: 4px;
}

div#videoImg img,div#videoImg video {
	width: 700px;
	height: 350px;
}

img#desarrolladores {
	width: 400px;
}

ul#programadores {
	display: block;
	text-align: center;
	list-style-type: none;
	padding: 0px;
}

dt {
	text-decoration: underline;
	font-weight: bold;
}

dl dl dt {
	text-decoration: none;
}

li {
	font-weight: bold;
}

ul ul li {
	font-weight: normal;
}
