@import "general.css";

div.contenido span.h1 {
	position: relative;
	left: 60px;
}

a.enlaceEnmarcado {
	color: #D0E8F7;
	background-color: #418eb6;
}

a.enlaceEnmarcado:hover {
	text-shadow: 0px 0px 5px #D0E8F7;
	box-shadow: 0px 0px 5px #418eb6;
}

a#lleno {
	background-color: #FF4144;
}
