@import "general.css";

.errorphp{
	display:block;
	color:red;
}

form#evento {
	display: inline-block;
	position: relative;
	right: 80px;
}

div.filaform {
	display: table-row;
}

select.hora, select.fecha, select#ev_provincia, select#ev_tipos {
	width: 98%;
	margin: 5px 0px 0px 5px;
	height: 20px;
}

label, div.cell {
	font-weight: bold;
	display: table-cell;
	width: 150px;
	padding-right: 10px;
	text-align: right;
	vertical-align: middle;
}

select.fecha {
	display: inline-block;
	width: 32%;
}
select.hora {
	display: inline-block;
	width: 48.5%;
}

input.evento {
	width: 96%;
}

input#create{
	background-color: #418eb6;
	color: WHITE;
	font-weight: bold;
	margin: 10px 0 20px 0;
	min-width: 200px;
}

input#create:hover{
	text-shadow: 0 0 3px SKYBLUE;
	box-shadow: 0 0 10px SKYBLUE;
	cursor: pointer;
}

textarea {
	font: 76% arial, sans-serif;
	height: 200px;
	min-width: 400px;
	font-size: 1em;	
}

