@import "general.css";

#registrarse{
	color: #418eb6;
	font-style: oblique;
	text-decoration:none;
	text-align:right;
	display: inline-block;
	margin: 10px 0 0 0;
}

#registrarse:hover {
	text-decoration:underline;
}

fieldset {
	border-width:1px;
	border-color:#418eb6;
	border-radius:1em;
	position:absolute;
/*	width:170px;
	height:80px;
*/
	top:10%;
	right:10%;
/*
	margin-top:-40px;
	margin-left:-85px;
*/
	box-shadow: 0px 0px 20px #FFFFFF;
}

legend { display:none; }

span.error {
	display:none;
	color:red;
}

label{ display:none; }
span.errorserv{color:red;}

h1 {
	color:#418eb6;
	text-shadow: 0px 0px 2px #FFFFFF;
	text-align:center
}

img#logop{
	height: 260px;
	width: 260px;
	margin: 30px 450px 195px 40px;
	border-radius: 10px 10px 10px 10px;
}

fieldset div#espacioBlanco {
	display: inline-block;
	width: 75%;
}
