@import "general.css";


/*** LISTA USUARIOS ***/

div.lista_usuarios {
	margin: 10px 0 10px 0;
	border-radius: 7px 7px;
	float: left;
	width: 150px;
	background-color: #B9CAFF;
	min-height: 450px;
}
strong.num_usuarios {
	display: inline-block;
	margin-bottom: 10px;
}

/*** INFO USUARIO ***/

div.info_usuario {
	margin-left: 32%;
}
div.data_row {
	display : table-row;
	text-align: left;
}
span.l_usuario {
	font-size: 120%;
	font-weight: bold;
	display: table-cell;
	text-align: right;
	padding: 10px 0;
}
span.c_usuario {
	margin: 0 15px;
}

/*** AÑADIR A FAVORITOS ***/
#add_to_favs {
	float: right;
	font-weight: bold;
	padding: 4px;
	border-radius: 5px;
	background-color: #418eb6;
	color: WHITE;
}
span#add_to_favs {
	margin-bottom: 200px;
	margin-top: 10px;
}
img#add {
	height: 36px;
	width: 36px;
	vertical-align: middle;
	padding-right: 5px;
}
