@import "general.css";

div#listas{
	border: 0px;
	border-bottom: 10px;
	display: inline-block;
	width: inherit;
	min-height: 500px;
}

div.listaLateral {
	border-radius: 7px 7px;
	background-color: #B9CAFF;
	display: table-cell;
	position: relative;
	height: 500px;
}

div#listaFavoritos {
	width:15%;
}

div#listaEventos{
	width:25%;
}

div#listaEventosProvincia {
	display: table-cell;
	border-left: 10px;
	border-right: 10px;
	width:60%;
}

div#listas, div.lista, div#listaEventosProvincia {
	border-style: solid;
	border-color: transparent;
}

span.titulo {
	font-weight: bold;
}

a#enlaceEnmarcadoInv {
	color: #418eb6;
	background-color: #B9CAFF;
}

a#enlaceEnmarcadoInv:hover {
	box-shadow: 0px 0px 5px #B9CAFF;
}
