@import "general.css";


p {
	margin: 10px 5px;
}
div#cabecera {
	position: relative;
}
div#contenedor {
	width: 900px;
	margin: 0 auto;
}
div#wrapper {
	float: left;
	width: 100%;
}
div#eventos {
	margin: 10px 300px 0 150px;
}
div#eventosUsuario {
	float: left;
	width: 300px;
	margin: 10px 0 10px -300px;
	background-color: #B9CAFF;
	min-height: 450px;
	border-radius: 7px 7px;
}
div.lista_usuarios {
	margin: 10px 0 10px -900px;
	border-radius: 7px 7px;
	float: left;
	width: 150px;
	background-color: #B9CAFF;
	min-height: 450px;
}
div#eventos p {
	line-height: 1.4
}

a.evento {
	margin-top: 5px;
	margin-left: 5px;
	border: 0px;
	border-radius: 10px;
	padding: 6px;
	color: #418eb6;
	font-weight: bold;
	background-color: #D0E8F7;
	text-decoration: none;
}

a.usuario{
	margin: 3px 3px;
	border-radius: 10px;
	padding: 4px 6px;
	color: #418eb6;
	background-color: #D0E8F7;
	font-weight: bold;
	text-decoration: none;
	display:inline-block;
}
