@import "general.css";


#errores{
	visibility: hidden;
}

.error{
	position: relative;
	right: 150px;
	color:red;
}

body {
	background: #D0E8F7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 76%;
	
}
form {
}
h1 {
	text-align: center;
	font-size: 3.5em;
	color: #418eb6;
}
hr {
	visibility: hidden;
}
fieldset {

	margin: 7% 8% auto auto;/* margin es para que se quede centrado el fieldset en la pantalla */
	padding: 30px 30px 30px 30px;/*padding hace que los componentes internos esten separados de la linea, con un margen*/
	width: 800px;
	border-style: dotted;
	border-radius: 20px 20px;
	border: 2px dotted #418eb6;
}
div {

	display: table-row;
}
input, select {
	width: 170px;
	border-radius: 4px 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #418eb6;
	color: #418eb6;
}
label {
	display: table-cell;
	color: #418eb6;
}
label.labelleft {
	width: 120px;
}
label.labelright {
	padding: 0 0 20px 120px;
	width: 140px;
}


select {
	background-color: white;
	color: #418eb6;
	border-radius: 4px 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #418eb6
}
#registrate {
	background-color: #418eb6;
	color: #eaf3fa;
	height: 40px;
	margin: 10px 0 0 -100px;
	width: 200px;
	border-radius: 10px 10px;
	position: absolute;
	left: 50%;
}

