/*body {
 font: 76% arial, sans-serif;
 text-align: center;

 }*/
 div#hcabecera{
	background-color: #418eb6;
	width:700px;
	margin: auto;
	border-radius: 10px 10px;
	/*color: #eaf3fa;*/
 }
div#hcontenedor {
	width: 700px;
	background-color: #333366;
	height: 80px;
	border-radius: 10px 10px;
}
div#hbotones{

}
a#hinicio,#hfavoritos{
	
}




div#hlugarbuscador{
	margin-top: 400px;
	display :block;
	display: table-row;
	width:650px;
	
}


div#hlogo {
	text-align: center;
	background: #eaf3fa;
	border-radius: 10px 10px;
	float: left;
	color: #418eb6;
	width: 400px;
	height: 80px;
	border-right: solid 1px;
	
	
}
div#husuario {
	color: white;
	float: right;
	margin: 5px 10px 5px 5px;
	text-align: right;
}
div #buscador{
	
	width:650px;
	
}