body {
	background-color:#808000;
}

form {
	/*border:3px dotted;*/
	border-radius:1em;
	position:absolute;
	width:170px;
	height:80px;
	top:40%;
	left:50%;
	margin-top:-40px;
	margin-left:-85px;
	box-shadow: 0px 0px 10px #FFFFFF;
}

input {
	/*height:30px;*/
	margin-top:5px;
	margin-left:5px;
	border:3px dotted;
	border-radius:1em;
}

input.btn {
	position:relative;
	left:28%;
}

h1 {text-align:center}
