div.lista_usuarios{
	margin: 0px 0 10px 0;
	border-radius: 7px 7px;
	float: left;
	width: 150px;
	background-color: #B9CAFF;
	min-height: 450px;
}

a.usuario{
	margin: 3px 3px;
	border-radius: 10px;
	padding: 4px 6px;
	color: #418eb6;
	background-color: #D0E8F7;
	font-weight: bold;
	text-decoration: none;
	display:inline-block;
} 

span.l_usuario{
	font-size: 120%; 
	margin: 5px 5px;
	display: inline-block;
	font-weight: bold;
}

strong.num_usuarios{
	display:inline-block;
	margin-bottom: 10px;
}

