.error {
	display: block;//
	visibility: hidden;
	color: red;
}
input#descripcion {
	height: 200px;
	width: 400px;
	line-height: 1.2px;
	font-size: 1em;
}
input{
	width: 400px;
}
div.contenido {
	font: 126% arial, sans-serif;
}
div.filaform {
	display: table-row;
}
label {
	display: table-cell;
	width: 150px;
}
label{
	padding-right: 10px;
	text-align: right;
}
select{
	
}

